body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: grid;
}

svg {
  width: auto;
  height: 20px;
  display: block;
  margin: auto;
}

:root {
  --background-color: #ece7e7;
  --light-background-color: #f3e9d2;
  --light-background-color-accent: #e5dbc2;
  --accent1: #1a936f;
  --accent2: #88d498;
  --accent3: #c6dabf;
  --text-color: #000000;
  --text-color-accent: #5c585890;
}

/*Left section*/

#section-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100%;
}

#left-section {
  background-color: var(--light-background-color);
  grid-column: 1/2;
  padding: 10px;
}
#app-name {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#task-list {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(2, minmax(30px, 50px));
  grid-template-columns: minmax(100px, 150px) minmax(30px, 50px);
  grid-template-areas:
    "person username"
    "task1  delete";
}

.titleElement {
  width: 100%;
  margin-left: 5px;
}

.titleElement:hover {
  background-color: var(--light-background-color-accent);
}

.single-project {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

#person-icon {
  grid-area: person;
}

#project1-text {
  grid-area: task1;
}

#project1-delete {
  grid-area: delete;
}

#username {
  grid-area: username;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 1px 6px;
}

#tasks-list > * button {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  background-color: var(--light-background-color);
  border: 2px solid var(--light-background-color);
}

#tasks-list > * button:hover {
  background-color: var(--light-background-color-accent);
  border: 2px solid var(--light-background-color-accent);
}

#create-task-button {
  grid-area: create;
  width: 100%;
  height: 5%;
  border: 2px solid var(--background-color);
}

#create-task-button:hover {
  border: 2px solid var(--light-background-color-accent);
}

.tasknumber,
#search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-accent);
}

#sun-icon {
  grid-area: sun;
  display: block;
  margin: auto;
}

/*Right section*/

#test-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

#todo-modal-container {
  display: none;
}

#todo-form-border {
  padding: 15px;
  background-color: #5c585890;
  width: 300px;
}

#todo-form {
  display: flex;
  flex-direction: column;
}

/*Modal*/

#modal-container {
  display: none; /*Change here if needed*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#todo-modal-container:active {
  background: #000;
  opacity: 0.4;
}

#modal-border {
  width: 400px;
  height: 200px;
  background-color: #88d498;
}

#modal-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

#project-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

/* Dynamic containers */

#task-container {
  display: flex;
  margin-left: 25px;
}

.newContainers {
  background-color: #1a936f;
  height: 10px;
  width: 230px;
  padding: 10px;
}

#add-project {
  background-color: var(--light-background-color);
  border: 2px solid var(--light-background-color);
  border-radius: 4px;
  padding: 10px;
  width: 780x;
  font-weight: bold;
}

.buttonDiv > button:hover,
#add-project:hover {
  background-color: var(--light-background-color-accent);
  border: 2px solid var(--light-background-color-accent);
}

.newContainers > p {
  font-size: 1.2rem;
  font-weight: bold;
}


